<div id="fb-root"></div>
<script type="text/javascript">
    // Load the FB lib
    window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: false, cookie: true, xfbml: false});
    };

    (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
    }());

    function facebook_connect(form){
        var loginCallback = function(response) {
            form.submit();
        };
        FB.login(loginCallback, { perms: '{{ facebook_required_fields|join:"," }}'});
    }
</script>


